:host {
    --field-height: 40px;
    --field-width: 40px;
    --field-margin: 2px
}

.row {
    display: block;
    height: calc(var(--field-height) + var(--field-margin) * 2);
    width: calc(var(--field-width) * 3 + var(--field-margin) * 6);
}

.field {
    display: inline-block;
    height: var(--field-height);
    width: var(--field-width);
    margin: var(--field-margin);

    background-color: palevioletred;
    text-align: center;
    line-height: var(--field-height);
    vertical-align: middle;
}

.field.empty {
    background-image: none;
}

.field.crossed {
    background-image: url("../assets/cross.ico");
    background-size: cover;
}

.field.circled {
    background-image: url("../assets/circle.png");
    background-size: cover;
}